.dashboard-data{
	transition: all .2s ease-in-out;
}

.dashboard-data:hover {
	transform: scale(1.03);
}
.user-input{
	margin: .5rem .5rem;
}

.reg-thead{
	color:white;
	background-color: #e74a3B;
}
.clickable-table-data:hover{
	background-color: #e74a3b;
	color:white;
}
.clickable-table-row:hover{
	background-color: #e74a3b;
	color:white;
}
a:hover{
	text-decoration: none;
}
.card-with-table {
	overflow-x: scroll;
}
.navbar{
	position: static;
}

.card-with-table {
	overflow-y: scroll;
	height: 600px;
}

.entry:hover{
	background-color: rgb(235, 110, 110);
	color: white;
	cursor: pointer;
}